* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
	transition: all .3s ease-in-out;
}

img {
	max-width: 100%;
	height: auto;
}

html {
	height: 100%;
}

body, html {
	min-height: 100%;
	width: 100%;
	overflow-x: hidden;
}

.clear::after, .clear::before {
	content: " ";
	display: table;
}

.clear::after {
	clear: both;
}

body {
	font: 300 36px $font-main;
	color: $main-color;
}

.gradient {
	background-color: rgb(255,255,255);
	background: rgb(255,255,255);
	background: -webkit-linear-gradient(rgba(255,255,255,1) 6%, rgba(170,221,255,1) 40%, rgba(209,192,255,1) 70%, rgba(255,255,255,1) 95%);
	background: -o-linear-gradient(rgba(255,255,255,1) 6%, rgba(170,221,255,1) 40%, rgba(209,192,255,1) 70%, rgba(255,255,255,1) 95%);
	background: linear-gradient(rgba(255,255,255,1) 6%, rgba(170,221,255,1) 40%, rgba(209,192,255,1) 70%, rgba(255,255,255,1) 95%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
}

.title {
	font: 400 36px $font-title;
	text-align: center;
	margin-bottom: 130px;
}