.contacts {

	&__subtitle {

		display: inline-block;
		position: relative;
		
		&::before {
			@include size(210%, 1px);
			@include pos($b: 9px, $l: -70%);
			content: '';
			background: #000047;
		}
	}	

	&__text {
		text-align: center;
		margin-top: -230px; 
		margin-bottom: 60px;

		&--semibold {
			font-weight: 600;
			display: block;
		}
	}
	&__radio {
		padding: 40px 0 80px;
		display: flex;
		justify-content: flex-end;
		
		&-item {
		font-size: 30px;
		margin-left: 210px;
		cursor: pointer;

			&:before{
				@include size(22px);
				content:'';
				background: url(../images/buttonoff.svg) no-repeat center center;
				
			}
		}

		&-hide{
			display: none;
		}
	}	

	&__form-field {
		min-width: 100%;
		font: 300 24px/58px $font-main;
		color: $main-color;
		padding: 0 35px;
		border: solid 1px #c1c5d2;
		border-radius: 10px;
		margin-bottom: 60px;

		&--text {
			min-height: 180px;
			resize: vertical;
		}
	}
	
	&__buttons-wrapper {
		background: -webkit-linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,0) 27%, rgba(255,255,255,1) 74%, rgba(255,255,255,1) 99%);
		background: -o-linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,0) 27%, rgba(255,255,255,1) 74%, rgba(255,255,255,1) 99%);
		background: linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,0) 27%, rgba(255,255,255,1) 74%, rgba(255,255,255,1) 99%)	;;
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
		text-align: center;
		padding: 105px 0 55px 0;
		margin-top: -60px;
	}
	
	&__form-button {
		background: #d1bfff;
		border: 1px solid #9f96d2;
		border-radius: 10px;
		font: 300 24px/24px $font-main;
		color: $main-color;
		padding: 17px;
		cursor: pointer;
		width: 67%;
		margin: 0 auto 120px;

		&:hover {
			background: #ade3ff;
		}
	}
	
	&__social {

		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;	
		align-items: center;
		justify-content: center; 

		&-link {
			height: 50px;
			margin: 0 9%;	

			&:last-child {
				height: 40px;
			}
		}

		&-img {
			height: 100%;
		}		
	}


}