.contacts {	

	&__text {
		text-align: center;
		margin-top: -230px; 
		margin-bottom: 60px;

		&--semibold {
			font-weight: 600;
			display: block;
		}
	}
	&__radio {
		padding: 40px 0 80px;
		display: flex;
		justify-content: space-between;

		
		&-item {
		font-size: 18px;
		margin-left: 50px;
		cursor: pointer;
		position: relative;

			&:before{
				display: inline-block;
				@include size(22px);
				@include pos($t: 2px,$l: -28px);
				content:'';
				background: url(../images/buttonoff.svg) no-repeat center center;
			}
		}

		input:checked + .contacts__radio-item:before {
			background: url(../images/buttonon.svg) no-repeat center center;
		}

		&-hide{
			display: none;
		}
	}	

	&__form-field {
		min-width: 100%;
		font: 300 18px/58px $font-main;
		color: $main-color;
		padding: 0 35px;
		border: solid 1px #c1c5d2;
		border-radius: 10px;
		margin-bottom: 30px;

		&:focus {
			background: #cfbfff;
			color: #fff;
		}

		&--text {
			min-height: 180px;
			resize: vertical;
			margin-bottom: 20px;
		}
	}
	
	&__buttons-wrapper {
		background: -webkit-linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,0) 27%, rgba(255,255,255,1) 74%, rgba(255,255,255,1) 99%);
		background: -o-linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,0) 27%, rgba(255,255,255,1) 74%, rgba(255,255,255,1) 99%);
		background: linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,0) 27%, rgba(255,255,255,1) 74%, rgba(255,255,255,1) 99%)	;;
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
		text-align: center;
		padding: 105px 0 55px 0;
		margin-top: -60px;
	}
	
	&__form-button {
		background: #d1bfff;
		border: 1px solid #9f96d2;
		border-radius: 10px;
		font: 300 18px/24px $font-main;
		color: $main-color;
		padding: 17px;
		cursor: pointer;
		width: 67%;
		margin: 0 auto 120px;

		&:hover {
			background: #B0E5FF;
		}
	}
	
	&__social {

		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;	
		align-items: center;
		justify-content: center; 

		&-link {
			height: 30px;
			margin: 0 9%;
			display: inline-block;
			vertical-align: middle;
			-webkit-transform: perspective(1px) translateZ(0);
			transform: perspective(1px) translateZ(0);
			box-shadow: 0 0 1px rgba(0, 0, 0, 0);

			&:last-child {
				height: 28px;
			}

			&:hover {
			  animation-name: hvr-buzz-out;
			  animation-duration: 0.75s;
			  animation-timing-function: linear;
			  animation-iteration-count: 1;	
			}
		}

		&-img {
			height: 100%;
		}		
	}
}

@keyframes hvr-buzz-out {
  10% {
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    transform: translateX(1px) rotate(0);
  }
  100% {
    transform: translateX(-1px) rotate(0);
  }
}
