.works {
	margin: -50px 0 330px;

	.title {
		margin-bottom: 65px;
	}
	
	&__wrapper {
		margin-bottom: 90px;

		&--right {
			.works__img-second {
				left: 5%;
				bottom: -60px;
			}

			.works__link {
				float: right;
				font-size: 36px;

				&::before {
					right: -100%;
				}

				&:hover {
					
					&::before {
						animation: underRight .7s forwards;
					}
				}
			}
		}

		&--left {
			.works__img-second {
				right: 0;
			}

			.works__link {
				
				font-size: 36px;
				
				&::before {
					left: -100%;
				}
			}
		}
	}

	&__item {
		position: relative;
		padding-bottom: 50px;
	}

	&__caption {
		font-size: 18px;
		margin-bottom: 20px;
	}
	
	&__img {

		&-main {
			width: 100%;
		}

		&-second {
			box-shadow: -10px 10px 10px 5px rgba(0, 1, 5, .2);
			position: absolute;
			filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
			filter: gray; /* IE5+ */
			-webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
			transition: all .5s ease-in-out;
			cursor: pointer;

			&:hover {
				filter: none;
    			-webkit-filter: grayscale(0);
			}

			&--oval {
				width: 50%;
				border-radius: 50%;
				bottom: -40px;
			}

			&--round {
				width: 37%;
				border-radius: 50%;
			}

			&--square {
				width: 56%;
				border-radius: 10px;
				bottom: -30px;
			}
		}
	}

	&__link {
		text-decoration: none;
		color: $main-color;
		position: relative;
		
		&::before {
			@include size(300%, 1px);
			@include pos($b: 9px);
			content: '';
			background: #000047;
		}	

		&:hover {
			
			&::before {
				animation: underline .7s forwards;
			}
		}
	}
}

@keyframes underline {
	0% {
		left:-999% ;
	}

	100% {
		left:-100%;
	}
}

@keyframes underRight {
	0% {
		right:-999% ;
	}

	100% {
		right:-100%;
	}
}